<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7 fluid top-full"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8 fluid top-full sticky-top"> <![endif]-->
<!--[if IE 8]>
<html class="ie lt-ie9 fluid top-full sticky-top"> <![endif]-->
<!--[if gt IE 8]>
<html class="ie gt-ie8 fluid top-full sticky-top"> <![endif]-->
<!--[if !IE]><!-->
<html class="fluid top-full sticky-top"><!-- <![endif]-->
<head>
  <title>ThunderCat - Admin</title>

  <!-- Meta -->
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/>

  <!-- Bootstrap -->
  <link href="<%= $context %>common/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="<%= $context %>common/bootstrap/css/responsive.css" rel="stylesheet" type="text/css"/>

  <!-- Glyphicons Font Icons -->
  <link href="<%= $context %>common/theme/fonts/glyphicons/css/glyphicons.css" rel="stylesheet"/>

  <link rel="stylesheet" href="<%= $context %>common/theme/fonts/font-awesome/css/font-awesome.min.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="<%= $context %>common/theme/fonts/font-awesome/css/font-awesome-ie7.min.css"><![endif]-->

  <!-- Bootstrap Extended -->
  <link href="<%= $context %>common/bootstrap/extend/jasny-fileupload/css/fileupload.css" rel="stylesheet">

  <!-- FooTable Plugin -->
  <link href="<%= $context %>common/theme/scripts/plugins/tables/FooTable/css/footable-0.1.css" rel="stylesheet"/>

  <!-- Main Theme Stylesheet :: CSS -->
  <link href="<%= $context %>common/theme/css/style-default.css" rel="stylesheet" type="text/css"/>

  <!-- Angular -->
  <script src="<%= $context %>javascripts/angular/angular.min.js"></script>
  <script src="<%= $context %>javascripts/angular/angular-resource.min.js"></script>
  <script src="<%= $context %>javascripts/angular/services.js"></script>
  <script src="<%= $context %>javascripts/angular/app.js"></script>
  <script src="<%= $context %>javascripts/angular/controllers.js"></script>

</head>
<body ng-app="thundercat" class="">

<!-- Main Container Fluid -->
<div class="container-fluid fluid menu-left">


  <!-- Content -->
  <div id="content">

    <!-- Top navbar -->
    <div class="navbar main hidden-print">

      <!-- Not Blank page -->

      <!-- Full Top Style -->
      <ul class="topnav pull-left">
        <li>
        <a href="<%= $context %>admin" class="glyphicons electricity"><i></i>
          ThunderCat</a></li>
        <li class="active">
          <a href="<%= $context %>admin" class="glyphicons dashboard"><i></i>
            Dashboard</a></li>
        </li>
      </ul>
      <!-- // Full Top Style END -->

      <!-- Quick Top Style -->
      <!-- // Quick Top Style END -->

      <!-- // Not Blank Page END -->


      <!-- Top Menu Right -->
      <ul class="topnav pull-right hidden-phone hidden-tablet hidden-desktop-1">

        <!-- Profile / Logout menu -->
        <li><a href="<%= $context %>logout" class="glyphicons power"><i></i> Logout</a></li>
        </li>
        <!-- // Profile / Logout menu END -->

      </ul>
      <!-- // Top Menu Right END -->
      <div class="clearfix"></div>

    </div>
    <!-- Top navbar END -->

    <h5 class="text-uppercase strong separator bottom margin-none"></h5>


    <div ng-controller="AppListCtrl" class="innerLR">

      <div class="row-fluid">
        <div class="span2">
          <span class="widget-stats widget-stats-gray widget-stats-2">
            <span class="count">{{apps.content.length}}</span>
            <span class="txt">Applications</span>
          </span>
        </div>
        <div class="span6">
          <form method="POST" action="<%= $context %>upload" enctype="multipart/form-data">

            <div class="well margin-none">

              <h4 class="separator bottom">Upload Rap Archive</h4>
              <div class="fileupload fileupload-new margin-none" data-provides="fileupload">
                <div class="input-append">
                  <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-default btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name='rapfile' class="margin-none" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                  <input style="margin-left:8px;" class='btn btn-small btn-inverse' type="submit" value="Upload">
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>

      <h5 class="text-uppercase strong separator bottom margin-none"></h5>
      <!-- Table -->
      <table class="footable table table-striped table-bordered table-white table-primary">

        <!-- Table heading -->
        <thead>
        <tr>
          <th data-class="expand">Application</th>
          <th data-class="expand">Version</th>
          <th data-hide="expand">Server Type</th>
          <th data-hide="expand">Directory</th>
          <th data-class="expand">Status</th>
          <th data-class="expand">Actions</th>
        </tr>
        </thead>
        <!-- // Table heading END -->

        <!-- Table body -->
        <tbody>

        <!-- Table row -->
        <tr ng-repeat="app in apps.content">
          <td>{{app.name}}</td>
          <td><span class="label">{{app.version}}</span></td>
          <td>{{app.server_type}}</td>
          <td>{{app.webapp}}</td>
          <td ng-switch on="app.has_pids">
                <span ng-switch-when="no">
                  <span class="label label-important">Stopped</span>
                </span>
                <span ng-switch-when="yes">
                  <table class="table table-striped table-bordered">
                    <tr>
                      <th>Pid</th>
                      <th>Port</th>
                      <th>Start Time</th>
                    </tr>
                    <tr ng-repeat="pid in app.pid_data" style="background-color:lightgreen">
                      <td><span class="label label-success">{{pid.pid}}</span></td>
                      <td><a href="http://localhost:{{pid.port}}">{{pid.port}}</a></td>
                      <td>{{pid.start_time }}</td>
                    </tr>
                  </table>
                </span>
          </td>
          <td ng-switch on="app.is_thundercat">

            <div ng-switch-when="yes"></div>
            <div ng-switch-when="no">
              <div ng-switch on="app.has_pids">
                    <span ng-switch-when="no">

                      <button class='btn btn-block btn-danger' ng-click="performAction('remove',app.id,'<%= $context %>')">remove</button>
                      <button class='btn btn-block btn-success' ng-click="performAction('start',app.id, '<%= $context %>')">start</button>

                    </span>
                    <span ng-switch-when="yes">
                      <button class='btn btn-block btn-inverse' ng-click="performAction('stop',app.id, '<%= $context %>')">stop</button>
                    </span>
              </div>
            </div>
          </td>
        </tr>
        <!-- // Table row END -->

        </tbody>
        <!-- // Table body END -->

      </table>
      <!-- // Table END -->

      <div class="separator bottom"></div>
      <!-- // Widget END -->


    </div>


  </div>
  <!-- // Content END -->

  <script>
      'use strict';

      angular.
              module('thundercatServices').
             value('context', '<%= $context %>');
  </script>


  <div id="footer" class="hidden-print">

    <!--  Copyright Line -->
    <div class="copy">&copy; 2013 - <a href="http://www.masterthought.net">MasterThought</a>
      <a href="https://github.com/masterthought/thundercat" target="_blank">ThunderCat</a> - Current version: <%= $version %>
    </div>
    <!--  End Copyright Line -->

  </div>
  <!-- // Footer END -->

</div>
<!-- // Main Container Fluid END -->

<!-- JQuery -->
<script src="<%= $context %>javascripts/jquery-1.10.1.min.js"></script>
<script src="<%= $context %>javascripts/jquery-migrate-1.2.1.min.js"></script>

<!-- Global -->
<script>
    var basePath = '',
            commonPath = '<%= $context %>common/';
</script>

<!-- Modernizr -->
<script src="<%= $context %>common/theme/scripts/plugins/system/modernizr.js"></script>

<!-- Bootstrap -->
<script src="<%= $context %>common/bootstrap/js/bootstrap.min.js"></script>

<!-- Bootstrap Extended -->
<script src="<%= $context %>common/bootstrap/extend/jasny-fileupload/js/bootstrap-fileupload.js"></script>

<!-- FooTable Plugin -->
<script src="<%= $context %>common/theme/scripts/plugins/tables/FooTable/js/footable.js"></script>

</body>
</html>